{% extends "base.html" %}
{%load static%}
{% block index %}

    <div class="container-fluid text-center gradient-bg">
      <div class="text-container">
        <h1 id="changing-text"></h1>
      </div>
      <!-- Search Bar -->
      <div class="d-flex justify-content-center mt-6">
        <div class="search-box1 position-relative">
          <input
            class="form-control ps-5 py-2"
            type="text"
            placeholder=""
            id="search-input"
          />
          <span class="search-placeholder" id="search-placeholder"></span>
          <i
            class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3"
          ></i>
        </div>
      </div>
      <div class="mt-4 text-center">
        <button class="tag-btn">DSA</button>
        <button class="tag-btn">Web Dev</button>
        <button class="tag-btn">Machine Learning</button>
      </div>
    </div>
<div class="container-fluid py-5 practice-section">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="text-white">Tutorials</h3> <button
        class="view-btn"
        onclick="window.location.href = '{% url 'core:article_list'%}'"
      >
        View All
      </button>
    </div>

    <div class="row g-4">
      {% for article in trending_articles %}
      <div class="col-md-4">
        <div class="card custom-card">
          {% if article.image %}
          <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.name }}" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ article.name }}</h5>
            
            <p class="card-text">
              {{ article.description|truncatechars:100 }}
            </p>
            
            <div class="card-actions">
              <a href="{% url 'core:article_list' %}?subject={{ article.id }}" class="details-link">More Details</a>
              
                <a href="{% url 'core:article_detail' subject_slug=article.slug topic_slug=article.topics.first.slug %}" class="btn card-btn">
                Start</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12 text-center">
          <p class="text-muted">No trending courses at the moment. Keep learning!</p>
      </div>
      {% endfor %} 
    </div>
</div>
    <!-- Courses Div -->
    <div class="container-fluid py-5 practice-section">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-white">Courses</h3>
          <button
            class="view-btn"
            onclick="window.location.href = 'course-list.html'"
          >
            View All
          </button>
        </div>
        <div class=" mt-4">
          <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-6">
              <div class="card text-white custom-overlay-card">
                <img src="{% static 'assets/image/course_image/btechincse.png'%}" class="card-img" alt="" />

                <div
                  class="card-img-overlay d-flex justify-content-end align-items-center text-end"
                >
                  <div>
                    <h4 class="card-title">B.Tech</h4>
                    <p class="card-text">Computer Science Engineering</p>
                    <div class="card-actions">
                      <a href="#" class="course-details-link">More Details</a>
                      <a href="#" class="btn card-btn">Start</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6">
              <div class="card text-white custom-overlay-card">
                <img src="assets/image/image 1.JPG" class="card-img" alt="" />

                <div
                  class="card-img-overlay d-flex justify-content-end align-items-center text-end"
                >
                  <div>
                    <h4 class="card-title">B.Tech</h4>
                    <p class="card-text">Information & Technology</p>
                    <div class="card-actions">
                      <a href="#" class="course-details-link">More Details</a>
                      <a href="#" class="btn card-btn">Start</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Practice Div -->
    <div class="container-fluid py-5 practice-section">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-white">Practice</h3>
          <button
            class="view-btn"
            onclick="window.location.href = 'practice-list.html'"
          >
            View All
          </button>
        </div>

        <!-- Cards Row -->
        <div class="d-flex gap-3 overflow-auto practice-row">
          <div class="cards-container">
            <!-- Card -->
            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">DSA</span>
              <!-- Progress Bar -->
              <div class="progress-bar-container">
                <div class="progress-bar-fill" style="width: 70%"></div>
              </div>
              <span class="progress-text">70% Completed</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">OOPs</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">AI&ML</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">DCCN</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">DAA</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">Java</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">Python</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">C</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">C++</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">.Net</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">R</span>
            </div>

            <div class="mini-card">
              <img src="assets/image/image 1.JPG" alt="" />
              <span class="overlay-text">C#</span>
            </div>
          </div>
        </div>
    </div>
    <!-- Ask Div -->
    <div class="container-fluid py-5 practice-section">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="text-white fw-bold text-center my-5">Ask Me Anything</h3>
        </div>
        <form action="/action_page.php">
          <div class="row">
            <div class="col">
              <label for="comment">Full Name</label>

              <input
                type="text"
                class="form-control mt-3"
                placeholder="Full Name"
                name="name"
              />
            </div>
            <div class="col">
              <label for="comment">Enter Email</label>

              <input
                type="email"
                class="form-control mt-3"
                placeholder="xyz@email.com"
                name="email"
              />
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="comment">Your Question:</label>
            <textarea
              class="form-control mt-3"
              rows="5"
              id="comment"
              name="text"
              placeholder="What is a Stack?"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Ask</button>
        </form>
    </div>
  {% endblock index %}
